
Javascript notes


// tells you length of word

“cake” .length 

// pop up window to confirm things with users:

confirm(“I am ready to go.”);

// pop up window for prompts:

prompt(“What is your name?”);

//if you want to find out the length of a string, you can write:

"What are your initials?".length;

//23//


2.  console.log

If we want to know what the interpreter is thinking, since everything is not printed out for us, we have to ask the computer. That’s what console.log is. It logs whatever is inside the parenthesis. This is called printing out. 


3. If/else statements

if( 10 < 3 ) 
{
    console.log("The condition is true");
}
else 
{
    console.log("The condition is false");
}



Other notes:

* For strings (which are letters, spaces and numbers), use quote marks. Strings are useful as labels, names and content for your programs. 

* With numbers, no need to use quote marks. 

*The computer doesn't worry about extra spaces between words or brackets. It just cares about the order of where things are placed.

* booleans (e.g. false, 5 > 4) 

* 3. Conditionals: If the first condition is met, execute the first code block. If it is not met, execute the code in the else block.

* 4. Modulo is % and what it does is it tells the you the remainder. In other words 11/2 is 5 with a remainder of 1. 10 is divisible by 2, but 11 isn’t. So there is 1 left over. It looks like 

console.log (11%2);



Word problems:

if("Jon".length * 2 / (2+1) === 2)
{
    console.log("The answer makes sense!");
} 
else {
    console.log("This answer is incorrect!");
}

